.ContactoForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 10px;
}

.ContactoForm input, fieldset, textarea {
    border-radius: 5px;
    width: calc(50px + 40vw);
    max-width: 350px;
}

.ContactoForm fieldset:hover {
    //filter:drop-shadow(0 0 5px grey);
    box-shadow: 0px 0px 10px 5px grey;
}

.ContactoForm * {
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}