.Contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Contacto-header {
    display: flex;
    margin: 10px;
    color: white;
    text-align: center;

}

