.GaleriaHeader {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    display: flex;
    flex-wrap: wrap;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
