.Portfolio{
    z-index: 1;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: auto;
    align-items: center;
    overflow-y: scroll;
    height: 80vh;
    scrollbar-width: none;

}

/*#PortfolioRenderDiv{
    z-index: 15;
    width: 90vw;
    height: 90vh;
    opacity: 0;
    background-color: red;

}*/

.borde {
    display: flex;
    margin: auto;
    max-height: 300px;
    min-width: 250px;
    min-height: 280px;
    border-radius: 5px;
    width: calc(150px + 10vw);
    padding: 0px;
}

.workdiv {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    height: calc(150px + 10vw);
    width: calc(150px + 10vw);
    //background-color: grey;
    //background-blend-mode: screen;
    margin: 3px;
    max-height: 300px;
    //max-width: 200px;
    min-width: 250px;
    min-height: 280px;
    border-radius: 5px;
}

.workdiv img:hover{
        opacity: 0.5;
}

.workdiv img{
    //margin: 0px 0px 0px 0px;
    margin: auto;
    margin-top: 0px;
    cursor: pointer;
    border-radius: 3px;
    width: calc(100px + 10vw);
    max-height: 200px;
    min-width: 200px;
    //height: calc(70px + 10vh);
}

.workdivP {
    margin: auto;
    margin-bottom: 5px;
}