.Portfolio{
    z-index: 1;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: auto;
    align-items: center;
    overflow-y: scroll;
    height: 80vh;
    scrollbar-width: none;

}

/*#PortfolioRenderDiv{
    z-index: 15;
    width: 90vw;
    height: 90vh;
    opacity: 0;
    background-color: red;

}*/

.workdiv {
    display: flex;
    flex-direction: column;
    height: calc(150px + 10vw);
    width: calc(100px + 10vw);
    background-color: grey;
    //background-blend-mode: screen;
    max-height: 300px;
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;

}

.workdiv img{
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    border-radius: 3px;
    height: calc(70px + 10vh);
    max-height: 
}