.App {
  display: flex;
  flex-direction: column;
}
.AppHeader {
  background-color: #b7bac0;
  display: flex;
  max-height: 130px;
  flex-direction: row;
  justify-content: space-between;
}

.AppLogo img {
  width: calc(80px + 5vh);
}

.AppHgroup {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: calc(10px + 1vh);
  font-family: freight-display-pro,serif;
  justify-content: flex-start;
}

.AppHgroup h1 {
  flex-wrap: wrap;
  line-height: 30px; 
  max-height: 30px;
}

.AppDivMenu {
  background-color: #ccc;
  display: flex;
  color: black;
  height: 25px;
  align-items: center;
}

.AppMenu {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.AppMenu p {
  margin: 0px 0px 5px 5px;
}

