.App {
  display: flex;
  flex-direction: column;
  background-image: url('./banner_header.jpg');
  background-size: 100% 100%;
  border-radius: 10px;
}

.AppHeader {
  display: flex;
  max-height: 130px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
}

.AppLogo img {
  width: calc(80px + 5vh);
}

.AppHgroup {
  color: #252121;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: calc(10px + 1vh);
  font-family: freight-display-pro,serif;
  justify-content: flex-start;
}

.AppHgroup h1 {
  flex-wrap: wrap;
  line-height: 30px; 
  max-height: 30px;
}

.AppDivMenu {
  background-image: url('./shadow-menu.png');
  background-size: 100% 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  color: black;
  height: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.AppMenu {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.AppMenu p {
  cursor: pointer;
  margin-left : 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

