.App {
  //text-align: right;
}

.App-logo {
  margin: 10px;
  //animation: App-logo-spin infinite 20s linear;
  //pointer-events: none;
  align-self: auto;
}

.App-logo img {
  width: calc(100px + 5vh);
}

.App-hgroup {
  padding: 15px;
  align-self: auto;
  text-align: right;
  //border: 1px solid black;
  line-height: 1.15;
  font-size: calc(10px + 1vh);
  font-family: freight-display-pro,serif;
  -webkit-font-smoothing: antialiased;

}

.App-header {
  //border: 1px solid black;
  background-color: #b7bac0;
  display: flex;
  flex-direction: row;
  //align-items: inline;
  //justify-content: center;
  //color: white;
}

.App-menu {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: center;
  color: black;
  //border: 1px solid black;

}

.App-menu ul li {
  list-style-type: none;
  text-align: center;
  display: inline;
  margin: 0 10px 0 0;
 //text-align: center;
  align-self: center;
}


.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
