.Principal {
    height: 90vh;
    width: 96vw;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    border-radius: 10px;

}

.PrincipalBack {
    display: flex;
    margin: auto;
    margin-top: 10vh;
    width: calc(240px + 30vw);
    height: calc(240px + 30vw);
    background-image: url('./principal_back.png');
    background-size: 100% 100%;
    max-width: 550px;
    max-height: 550px;
}

.PrincipalLogo {
    display: flex;
    margin: auto;
    width: calc(100px + 20vw);
    height: calc(100px + 20vw);
    background-image: url('./principal.png');
    background-size: 100% 100%;
    border-radius: 10px;
    cursor: pointer;
    max-width: 250px;
    max-height: 250px;
    transform: rotate(-20deg);
}

.PrincipalLogo:hover {
    //animation: logo-spin infinite 20s linear;
    filter:drop-shadow(0 0 5px white);
}

//.PrincipalBack:hover { opacity: 0.3; }


@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

