.PrincipalBack {
    display: flex;
    margin: auto;
    margin-top: 5vh;
    width: calc(240px + 30vw);
    height: calc(240px + 30vw);
    background-image: url('./principal_back.png');
    background-size: 100% 100%;
}

.PrincipalLogo {
    display: flex;
    margin: auto;
    width: calc(100px + 10vw);
    height: calc(80px + 10vw);
    background-image: url('./principal.png');
    background-size: 100% 100%;
    cursor: pointer;
    transform: rotate(-20deg);
}

.PrincipalLogo:hover {
    filter:drop-shadow(0 0 5px white);
}

